<!-- -->
{#<script type="text/javascript">#}
{#    function getCookie(name){#}
{#        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");#}
{#        if(arr=document.cookie.match(reg))#}
{#            return unescape(arr[2]);#}
{#        else#}
{#            return null;#}
{#    }#}
{#    $(document).ready(function () {#}
{#        var rongcloudToken = getCookie("rongcloudToken");//$.cookie("rongcloudToken");#}
{#        rongcloudToken = rongcloudToken.substring(1,rongcloudToken.length - 1);#}
{#        //console.log(rongcloudToken);#}
{#        RongIMClient.init("pwe86ga5ep576");#}
{#         // 设置连接监听状态 （ status 标识当前连接状态）#}
{#         // 连接状态监听器#}
{#         RongIMClient.setConnectionStatusListener({#}
{#            onChanged: function (status) {#}
{#                switch (status) {#}
{#                    //链接成功#}
{#                    case RongIMLib.ConnectionStatus.CONNECTED:#}
{#                        console.log('链接成功');#}
{#                        break;#}
{#                    //正在链接#}
{#                    case RongIMLib.ConnectionStatus.CONNECTING:#}
{#                        console.log('正在链接');#}
{#                        break;#}
{#                    //重新链接#}
{#                    case RongIMLib.ConnectionStatus.DISCONNECTED:#}
{#                        console.log('断开连接');#}
{#                        break;#}
{#                    //其他设备登录#}
{#                    case RongIMLib.ConnectionStatus.KICKED_OFFLINE_BY_OTHER_CLIENT:#}
{#                        console.log('其他设备登录');#}
{#                        break;#}
{#                      //网络不可用#}
{#                    case RongIMLib.ConnectionStatus.NETWORK_UNAVAILABLE:#}
{#                      console.log('网络不可用');#}
{#                      break;#}
{#                    }#}
{#            }});#}
{##}
{#         // 消息监听器#}
{#         RongIMClient.setOnReceiveMessageListener({#}
{#            // 接收到的消息#}
{#            onReceived: function (message) {#}
{#                // 判断消息类型#}
{#                switch(message.messageType){#}
{#                    case RongIMClient.MessageType.TextMessage:#}
{#                           // 发送的消息内容将会被打印#}
{#                        console.log(message.content.content);#}
{#                        break;#}
{#                    case RongIMClient.MessageType.VoiceMessage:#}
{#                        // 对声音进行预加载#}
{#                        // message.content.content 格式为 AMR 格式的 base64 码#}
{#                        RongIMLib.RongIMVoice.preLoaded(message.content.content);#}
{#                        break;#}
{#                    case RongIMClient.MessageType.ImageMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.DiscussionNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.LocationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.RichContentMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.DiscussionNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.InformationNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.ContactNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.ProfileNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.CommandNotificationMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.CommandMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    case RongIMClient.MessageType.UnknownMessage:#}
{#                        // do something...#}
{#                        break;#}
{#                    default:#}
{#                        // 自定义消息#}
{#                        // do something...#}
{#                }#}
{#            }#}
{#        });#}
{#        // 连接融云服务器。#}
{#        RongIMClient.connect(rongcloudToken, {#}
{#            onSuccess: function(userId) {#}
{#              console.log("Login successfully." + userId);#}
{#            },#}
{#            onTokenIncorrect: function() {#}
{#              console.log('token无效');#}
{#            },#}
{#            onError:function(errorCode){#}
{#                  var info = '';#}
{#                  switch (errorCode) {#}
{#                    case RongIMLib.ErrorCode.TIMEOUT:#}
{#                      info = '超时';#}
{#                      break;#}
{#                    case RongIMLib.ErrorCode.UNKNOWN_ERROR:#}
{#                      info = '未知错误';#}
{#                      break;#}
{#                    case RongIMLib.ErrorCode.UNACCEPTABLE_PaROTOCOL_VERSION:#}
{#                      info = '不可接受的协议版本';#}
{#                      break;#}
{#                    case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:#}
{#                      info = 'appkey不正确';#}
{#                      break;#}
{#                    case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:#}
{#                      info = '服务器不可用';#}
{#                      break;#}
{#                  }#}
{#                  console.log(errorCode);#}
{#                }#}
{#        });#}
{#    });#}
{#</script>#}

<div class="grid_12" >
<div class="box round" ng-app="demo" ng-controller="main">
    <h2>当前用户：<span ng-bind="user"></span></h2><br/>
    填写你想要对话的用户的 Id 点击发起私聊会话，在对话框输入内容点击发送对方就收到你的消息了。<br/><br/>
    <label>用户：</label><input class="input" ng-model="targetId">
    <button class="btn" ng-click="setconversation()">发起私聊会话</button><br/> <br/>
    <rong-widget></rong-widget>
</div>
</div>



