
<!-- -->
<script type="text/javascript">
    $(document).ready(function () {
        var patientName =$("#patientUsernameHidden").val();
        var Table = $('#Storage_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
            },
            "ajax": {
                "url": "/Ajax/Storage_table/",
                "data": {
                    "patientName": patientName
                }
            }
        });
        $('#Storage_table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                Table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>

<div class="grid_12">
<div class="box round first">
    <h2>库存表</h2>
    <div class="block">
        <table id="Storage_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>项目名称</th>
                    <th>数量</th>
                    <th>机器ID</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>项目名称</th>
                    <th>数量</th>
                    <th>机器ID</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>

