
<!-- -->
<script type="text/javascript">
    $(document).ready(function () {
        var patientName =$("#patientUsernameHidden").val();
        var Table = $('#TesterCard_table').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
            },
            "ajax": {
                "url": "/Ajax/TesterCard_table/",
                "data": {
                    "patientName": patientName
                }
            }
        });
        $('#TesterCard_table tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                Table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
    });
</script>

<div class="grid_12">
<div class="box round first">
    <h2>检测卡信息</h2>
    <div class="block">
        <table id="TesterCard_table" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>检测卡编号</th>
                    <th>检测卡项目</th>
                    <th>检测卡标准反应时间</th>
                    <th>生产批号</th>
                    <th>有效期</th>
                    <th>正常值范围</th>
                    <th>标准曲线参数</th>
                    <th>储存条件</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>检测卡编号</th>
                    <th>检测卡项目</th>
                    <th>检测卡标准反应时间</th>
                    <th>生产批号</th>
                    <th>有效期</th>
                    <th>正常值范围</th>
                    <th>标准曲线参数</th>
                    <th>储存条件</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>

