<!-- -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#save_change").click(function(){
            var bp=$("#passwordInfo").serialize();<!--密码表单数据-->
            $.getJSON("/Ajax/change_password/",
                      bp,
                      function(data){
                          if(data['error']=='1'){
                              $('#set_error').text('旧密码错误!');
                          }else if(data['error']=='2'){
                              $('#set_error').text('新密码不一致或为空!');
                          }
                          else{
                              $('#set_error').text('密码修改成功!');
                          }
                      }
                );
        });
    });
</script>

<div class="box round first">
    <h2>密码设置</h2>
    <div class="block">
        <form id="passwordInfo">
            <table class="form">
                <!--账户昵称 -->
                <tr>
                    <td class="col1">
                        <label>账户昵称</label>
                    </td>
                    <td class="col2">
                        <input type="text" class="mini" value="{{ user.nickname }}" disabled="disabled"/>
                    </td>
                </tr>
                <!--旧密码 -->
                <tr>
                    <td>
                        <label>旧密码</label>
                    </td>
                    <td>
                        <input type="password" class="mini" name="old_password"/>
                    </td>
                </tr>
                <!--新密码 -->
                <tr>
                    <td>
                        <label>新密码</label>
                    </td>
                    <td>
                        <input type="password" class="mini" name="new_password"/>
                    </td>
                </tr>
                <!--新密码确认 -->
                <tr>
                    <td>
                        <label>新密码确认</label>
                    </td>
                    <td>
                        <input type="password" class="mini" name="new_password1"/>
                    </td>
                </tr>
            </table>
        </form>
        <p id="set_error" class="error" style="color: red"></p>
        <button id="save_change" class="btn btn-small btn-blue">保存更改</button>
    </div>
</div>